{{#if isSupported}}
  {{qr-scanner onSuccess=(action (mut result)) onError=(action (mut error))}}

  <p>
    Result: {{result}}
  </p>

  <p>
    Error: {{error}}
  </p>
{{else}}
  Unfortunately your browser does not support WebRTC yet.
{{/if}}
